RewriteEngine on
Options -Indexes
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteRule ^(.*)$ https://rapidsharely.com/$1 [L,R=301]
RewriteRule ^$ index.php [NC,L]
RewriteRule ^services([/]?)$ services.php [NC,L]
RewriteRule ^blogs([/]?)$ blogs.php [NC,L]
RewriteRule ^form-submit([/]?)$ form-submit.php [NC,L]
RewriteRule ^save-to-form([/]?)$ save-to-form.php [NC,L]
RewriteRule ^get-quotes([/]?)$ form.php [NC,L]
RewriteRule ^contact([/]?)$ contact.php [NC,L]
RewriteRule ^privacy-policy([/]?)$ privacy-and-policy.php [NC,L]
RewriteRule ^terms-and-condition([/]?)$ terms-and-condition.php [NC,L]


RewriteRule ^commonservice([/]?)$ pages/services/index_.php [NC,L]
RewriteRule ^new-york-to-nevada-auto-transport([/]?)$ pages/services/new-york-to-nevada-auto-transport.php [NC,L]
RewriteRule ^california-to-hawaii-vehicle-auto-transport([/]?)$ pages/services/california-to-hawaii-vehicle-auto-transport.php [NC,L]
RewriteRule ^hawaii-to-mainland-vehicle-auto-transport([/]?)$ pages/services/hawaii-to-mainland-vehicle-auto-transport.php [NC,L]
RewriteRule ^california-to-texas-vehicle-auto-transport([/]?)$ pages/services/california-to-texas-vehicle-auto-transport.php [NC,L]
RewriteRule ^hawaii-to-california-auto-transport-service([/]?)$ pages/services/hawaii-to-california-auto-transport-services.php [NC,L]
RewriteRule ^california-to-florida-vehicle-auto-transport([/]?)$ pages/services/california-to-florida-vehicle-auto-transport.php [NC,L]



RewriteRule ^commonblogs([/]?)$ pages/blogs/index_.php [NC,L]