*{box-sizing: border-box;}
html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;   
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Roboto Slab', serif; */
}
ul{padding: 0;margin: 0;}
header{
    width: 100%;
    height: 140px;
    background-color: rgb(247, 247, 247);
}
.basic-info{
    width: 100%;
    /* height: 20px; */
    padding: .5% 1%;
    background-color: rgb(35, 19, 216);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.basic-info a{color: white;}
.basic-info ul{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    mix-blend-mode:darken;
    width: 100px;
}
.basic-info ul{list-style: none;}
.basic-info .blink{animation: blibk 1s alternate infinite linear;}
.basic-info .blink a:hover{
    color: rgb(246, 255, 0);
}
@keyframes blibk {
    from{transform: scale(1);}
    to{transform: scale(1.1);color: rgb(246, 255, 0);}
}
header nav{
    width: 100%;
    height: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
}
header nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style: none;
    font-weight: bold;
    font-size:1.5rem ;
}
header  a{text-decoration: none;color: black;}
.services-ul{
    position: relative;
    display: inline-block;
}
.drop{
    display: none;
    width:300px;
    text-align: center;
    height: auto;
    padding: 1%;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -100%;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    color: #242222;
    font-size: large;
}
.drop-btn{cursor: pointer;}
.drop a{
    display: block;
    margin: 10px 0;
    font-weight: 300;
}
.services-ul:hover .drop{
    display: block;
}
/* NAVBAR ENDS */

.herosection{
    width: 100%;
    height: 60%;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    /* background-color: teal; */
    background-image: url('https://cdn.pixabay.com/photo/2017/08/17/05/59/peterbilt-2650184_1280.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    place-items: center;
}
.video{
    width: 100%;
    height: 100%;
    
}
.heroksection-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.698);
}
.herosection h1{
    font-size: 3rem;
    font-weight: 900;
    padding: 0;
    margin: 0;
    color: white;
   
}
.ser{text-align: center;color: white; position: relative;
    z-index: 1;}

    .blog-section{
        width: 100%;
        padding: 3%;
    }
    .blog-section-para{
        text-align: center;
        color: dodgerblue;
    }
    .blog-section-heading{
        color: rgb(28, 28, 180);
        text-align: center;
        margin: auto;
        width: 50%;
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 40px;
    }
    
    .blog-body{
        padding:2%;
    }
    .blog-item{
        width:300px;
        height: 200px;
        object-fit: contain;
        position: relative;
        margin:5% 20px;
    }
    .blog-detail{
        width: 250px;
        background-color: white;
        /* border: 1px solid grey; */
        padding:6% 2%;
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
        position: absolute;
        bottom: -40%;
        left: 10%;
        text-align: center;
    
    }
    .blog-detail p{
        text-align: center;
        font-weight: 600;
    
    }
    .blog-detail button{
        width: 130px;
        height: 40px;
        color: white;
        background-color: rgb(28, 28, 183);
        font-weight: bold;
        border: 0;
        margin: auto;
        text-align: center;
        cursor: pointer;
    }
    .blog-admin-detail{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    /* footer */
    footer{
        background-color: rgb(32, 30, 30);
        padding: .5%;
        color: white;
    }
    footer .p{text-align: center;margin-top: 3%;background-color: #666;}
    .footer-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 10%;
    }
    a{text-decoration: none;}
    footer ul{
        list-style: none;
    }
    footer ul li{
        margin: 10px 0;
    }
    footer ul a{
        color: white;
        text-decoration: none;
    }
    .fp{
        font-size: x-large;
        font-weight: bolder;
    }
    .why-choose-us{
        width: 100%;
        height: 400px;
        background-image: url('https://cdn.pixabay.com/photo/2016/07/03/22/36/transportation-1495618_1280.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position:center;
        background-attachment: fixed;
        position: relative;
    }
    .why-choose-us-bg{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(14, 31, 213, 0.779);
        top: 0;
        left: 0;
    }
    .why-us{width: 100%;
    height: auto;position: relative;z-index: 1;}
    .why-choose-us__title{
        font-size: 3rem;
        font-weight: 900;
        padding-top: 3%;
        text-align: center;
        color: white;
    }
    .box{
        width: 300px;
        height: auto;
        margin: 0 10px;
        position: relative;
        color: white;
        text-align: center;
    }
    .box i{
        font-size: 2rem;
    }
    .sitebutton{
        position: fixed;
        bottom: 5%;
        right: 1%;
        z-index: 99;
    }
    .sitebutton button{
        width: 200px;
        height: 50px;
        cursor: pointer;
        border: 0;
        color: whitesmoke;
        font-weight: bold;
        background-color: rgba(20, 20, 157, 0.918);
    }
    


    ::-webkit-scrollbar{width: 10px;}

::-webkit-scrollbar-thumb{
    background-color: #555555;
}
.formobile {
    display: none;
}

.fordesktop {
    display: flex;
}
.hidelogoforphone{display: block;}
#navbar3{display: none;}
@media screen and (max-width:1100px) {
    .row{    flex-wrap: wrap;}
    .container{background-size: auto;}
}
@media screen and (max-width:770px) {
    .why-choose-us {height: auto; background-repeat: no-repeat;background-size: auto;}
    .row{flex-wrap: wrap;}
    .form-div {width: 60%;}
    .form-div input {width: 100%;}
    .blog-detail {
        width: auto;
        background-color: white;
        /* border: 1px solid grey; */
        padding: 6% 2%;
        /* clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%); */
        position: relative;
        bottom: auto;
        left: auto;
        text-align: center;
    }
    .blog-section{height: auto;}
    .blog-item {height: auto;}
}
@media screen and (max-width:550px) {
    .row{    flex-wrap: wrap;}
   
/* NAV BAR STARTS */
    .fordesktop {
        display: none;
    }

    .formobile {
        width: 100%;
        height: 100%;
        display: block;
        padding: 2%;
    }

    .formobile ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #navbar {
        font-size: xx-large;
    }

    header nav {
        display: block;
        height: 110px;
    }

    .container {
        padding: 3%;
    }

    .form-div {
        width: 100%;
    }

    .form-div input {
        width: 100%;
    }

    .guranteed {
        left: -5%;
        top: -22%;
    }
    .foo{width: 100%;}
    .footer-container{padding: 1% 5%;}
    /* NAV BAR ENDS */

    .how-box {margin: 25px 10px;}
    .hidelogoforphone{display: none;}
    .fordesktop{
        position: absolute;
        z-index: 1;
        background-color: whitesmoke;
        place-items: center;
        height: 100%;
    width: 100%;
    }
    .fordesktop2{
        display: block;
    height: auto;
    text-align: center;
    width: 100%;
    }
    .fordesktop2 li{margin: 5% 0;}
    .herosection {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            background-size: auto;
    }
   
}
